@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Mukta+Mahee:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,300;1,400;1,700&display=swap");

/* Variables */

:root {
  /* color */
  --light-f: #fff;
  --dark-f: #1f2331;
  --gray-f: #a8c9cc;
  --secondary-light-f: #08ffbd;
  --light-bg: #08ffbd;
  --dark-bg: #1f2331;
  --darkest-bg: #171a25;
  /* font */
  --primary-ff: "Mukta Mahee", sans-serif;
  --secondary-ff: "Poppins", sans-serif;
  --cursive-ff: "Caveat", cursive;
  /* Others */
  --transition: all 0.3s ease-in-out;
}

/* Global styles */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-ff);
  color: var(--light-f);
  background: var(--dark-bg);
  overflow-x: hidden !important;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-family: var(--secondary-ff);
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  color: var(--light-f);
  font-family: var(--primary-ff);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  background: transparent;
  color: var(--light-f);
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-family: var(--secondary-ff);
}
.btn:hover {
  background: var(--secondary-light-f);
  color: var(--dark-f);
}

/* section */

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.section {
  padding: 1rem 0;
  position: relative;
}

.section-search {
  padding: 1rem 0;
}

@media screen and (max-width: 1150px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }

  .section {
    padding: 0;
  }
}

.loading-img {
  width: 5rem;
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-top: 6rem;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--secondary-light-f), #009970);
  border-radius: 3px;
}
/* 
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#fdcb6e, #d63031);
} */
